<nav class="bg-white border-gray-200 dark:bg-gray-900 dark:border-gray-700"> 
  <div class="max-w-screen-xl flex flex-wrap items-center justify-between mx-auto p-4">
    <a href="#" class="flex items-center space-x-3 rtl:space-x-reverse">
        <img src="/img/logo.svg" class="h-8" alt="Flowbite Logo" />
    </a>
    <button  data-collapse-toggle="navbar-dropdown" type="button" class="inline-flex items-center p-2 w-10 h-10 justify-center text-sm text-gray-500 rounded-lg md:hidden hover:bg-gray-100 focus:outline-none focus:ring-2 focus:ring-gray-200 dark:text-gray-400 dark:hover:bg-gray-700 dark:focus:ring-gray-600" aria-controls="navbar-dropdown" aria-expanded="false">
        <span class="sr-only">Open main menu</span>
        <svg class="w-5 h-5" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 17 14">
            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M1 1h15M1 7h15M1 13h15"/>
        </svg>
    </button>
    <div class="hidden w-full h-[calc(100vh-88px)] md:h-auto md:block md:w-auto" id="navbar-dropdown">
      <ul class="flex flex-col h-full font-medium p-4 md:p-0 my-4 border border-gray-100 rounded-lg bg-gray-50 md:space-x-8 rtl:space-x-reverse md:flex-row md:mt-0 md:border-0 md:bg-white dark:bg-gray-800 md:dark:bg-gray-900 dark:border-gray-700">
        <li class="relative dropdown">
            <button data-dropdown-toggle="dropdownNavbar" class="md:pointer-events-none flex items-center justify-between w-full py-2 px-3 text-gray-900 rounded hover:bg-gray-100 md:hover:bg-transparent md:border-0 md:hover:text-blue-700 md:p-0 md:w-auto dark:text-white md:dark:hover:text-blue-500 dark:focus:text-white dark:border-gray-700 dark:hover:bg-gray-700 md:dark:hover:bg-transparent">
              Dropdown 
              <svg class="w-2.5 h-2.5 ms-2.5 transition-transform duration-300 ease-in-out" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 10 6">
                <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m1 1 4 4 4-4"/>
              </svg>
            </button>
            <!-- Dropdown menu -->
            <div id="dropdownNavbar" class="z-10 hidden md:absolute md:left-1/2 md:-translate-x-1/2 font-normal bg-white divide-y divide-gray-100 rounded-lg shadow w-full md:w-44 dark:bg-gray-700 dark:divide-gray-600">
                <ul class="py-2 text-sm text-gray-700 dark:text-gray-400" aria-labelledby="dropdownLargeButton">
                  <li>
                    <a href="#" class="block px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white">Dashboard</a>
                  </li>
                  <li>
                    <a href="#" class="block px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white">Settings</a>
                  </li>
                  <li>
                    <a href="#" class="block px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white">Earnings</a>
                  </li>
                </ul>
                <div class="py-1">
                  <a href="#" class="block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100 dark:hover:bg-gray-600 dark:text-gray-200 dark:hover:text-white">Sign out</a>
                </div>
            </div>
        </li>
        <li>
          <a href="#" class="block py-2 px-3 text-gray-900 rounded hover:bg-gray-100 md:hover:bg-transparent md:border-0 md:hover:text-blue-700 md:p-0 dark:text-white md:dark:hover:text-blue-500 dark:hover:bg-gray-700 dark:hover:text-white md:dark:hover:bg-transparent">Services</a>
        </li>
        <li>
          <a href="#" class="block py-2 px-3 text-gray-900 rounded hover:bg-gray-100 md:hover:bg-transparent md:border-0 md:hover:text-blue-700 md:p-0 dark:text-white md:dark:hover:text-blue-500 dark:hover:bg-gray-700 dark:hover:text-white md:dark:hover:bg-transparent">Pricing</a>
        </li>
        <li>
          <a href="#" class="block py-2 px-3 text-gray-900 rounded hover:bg-gray-100 md:hover:bg-transparent md:border-0 md:hover:text-blue-700 md:p-0 dark:text-white md:dark:hover:text-blue-500 dark:hover:bg-gray-700 dark:hover:text-white md:dark:hover:bg-transparent">Contact</a>
        </li>
      </ul>
    </div>
  </div>
</nav>

<style>


  @media (min-width: 768px) {
    .dropdown:hover #dropdownNavbar {
    display: block;
  }
  .dropdown:hover button svg {
    transform: rotate(180deg);
  }
}
</style>

<script>
/**
 * Handles the dropdown menu toggle
 * @param {string} id - The ID of the dropdown menu
 */
 const dropdown = (id: string) => {
  const button = document.querySelector(`[data-dropdown-toggle="${id}"]`);
  const dropdown = document.getElementById(id);
  const svg = button?.querySelector('svg'); // Use optional chaining for safer access

  /**
   * Handles the click event
   * @param {MouseEvent} event - The click event
   */
  const handleClick = (event: MouseEvent) => {
    // Check if the click occurs inside the button or the dropdown
    if ((button && button.contains(event.target as Node)) || (dropdown && dropdown.contains(event.target as Node))) {
      // Toggle visibility of the dropdown and rotate the SVG icon if available
      dropdown?.classList.toggle('hidden');
      svg?.classList.toggle('rotate-180');
    } else {
      // Hide the dropdown and reset the SVG icon rotation if available
      dropdown?.classList.add('hidden');
      svg?.classList.remove('rotate-180');
    }
  };

  // Add event listener to handle clicks
  document.addEventListener('click', handleClick);
};

/**
 * Handles the hamburger menu toggle
 * @param {string} id - The ID of the hamburger menu
 */
const menu = (id: string) => {
  const button = document.querySelector(`[data-collapse-toggle="${id}"]`);

  // Add event listener to toggle visibility of the dropdown menu
  button?.addEventListener('click', () => {
    const dropdown = document.getElementById(id);
    dropdown?.classList.toggle('hidden');
  });
};

// Bind the dropdown menu toggle event
menu('navbar-dropdown');

// Bind the dropdown menu toggle event
dropdown('dropdownNavbar');
</script>
